<!-- <div class="container"> -->
<div class="row">
  <div class="large-6 columns">
    <h1>Upload an Image!</h1>
    <%= form_for [@user, @image] do |f|%>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
</div>

  <%= f.submit :class => "button"%>
  <% end %>
<!-- </div> -->