<div class="container">
  <h2><%= @image.title %></h2>
  <img class="img" src="<%= @image.url  %>" title="<%= @image.title %>">
</div>

<div class="captions">
  <%= form_for @caption, url: image_captions_path(@image), remote: true do |f|  %>
  <div class="row">
    <div class="large-3 columns"><p> </p></div>
    <div class="large-6 columns">
      <%= f.label "Add Caption"%>
      <%= f.text_field :body %>
    </div>
    <div class="large-3 columns"></div>
  </div>
  <div class="row">
    <div class="large-3 columns"><p> </p></div>
    <div class="large-6 columns">
      <%= f.submit "Entitle It", :class => "button" %>
      <% end %>
    </div>
    <div class="large-3 columns"></div>
  </div>
  <% @image.captions.each do |caption| %>
  <%= render 'captions/caption', :caption => caption %>
  <% end %>
</div>

