<div class="container">
  <h2><%= @image.title %></h2>
  <img class="img" src="<%= @image.url  %>" title="<%= @image.title %>">
</div>
<div class="captions">
  <%= form_for @caption, url: image_captions_path(@image), remote: true do |f|  %>
  <div class="row">
    <div class="large-3 columns"><p> </p></div>
    <div class="large-6 columns">
      <%= f.label "Add Caption"%>
      <%= f.text_field :body %>
    </div>
    <div class="large-3 columns"></div>
  </div>
  <div class="row">
    <div class="large-3 columns"><p> </p></div>
    <div class="large-6 columns">
      <%= f.submit "Entitle It", :class => "button" %>
      <% end %>
<div class="row">
  <div class="small-2 large-3 columns"><p> </p></div>
  <div class="small-4 large-6 columns">
    <div class="captions">
      <%= form_for @caption, url: image_captions_path(@image), remote: true do |f|  %>
        <%= f.label "Add Caption"%>
        <%= f.text_field :body %>
        <div class="small-6 large-3 columns"></div>

        <%= f.submit "Entitle It", :class => "button" %>
      <% end %>
      <% @image.captions.each do |caption| %>
        <%= render 'captions/caption', :caption => caption %>
      <% end %>
    </div>
    <div class="large-3 columns"></div>
  </div>
  <% @image.captions.each do |caption| %>
  <%= render 'captions/caption', :caption => caption %>
  <% end %>
</div>

